[Desktop Entry]
Type=Application
Name=Proxy ProActive ScreenSaver
Comment=Proxy ProActive ScreenSaver
OnlyShowIn=GNOME;
X-GNOME-Autostart-Phase=Application
